/*
    Default browser level css
*/
body{
    padding: 0;
    margin: 0;
}
/*
    App Level css 
*/
.app_container{
    width:100%;
    height:97vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.appheader_default{
    height: 10vh;
    margin: 0;
    padding: 0;
}

.appcontent_default{
    height: 89vh;
    overflow-y: scroll;
}

.appfooter_default{
    height: 4vh;
}
